.button {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  transition: opacity 0.3s linear;
  cursor: pointer;

  &.button-filled {
    background-color: rgba(0, 137, 129, 1);
    color: #fff;
  }

  &.sm {
    padding: 4px;
    font-size: 14px;
  }

  &.md {
    padding: 8px;

    font-size: 16px;
  }

  &.lg {
    padding: 16px;
    font-size: 24px;
  }

  .title {
    display: inline-block;
    min-width: 70px;
  }

  &:hover {
    opacity: 0.7;
  }
}
